body{
    margin-top: 40px;    
    background-color: #F7F9FD !important;
}
/* Table */

.table-responsive {
    border: 1px #E1E3E7 solid;
    border-radius: 8px;
}
table{
    border-collapse: collapse;  
}

/* Search Bar */
.search-container{
    margin: 20px;
}
.filter-button{
    background-color: #FFFFFF !important;
    border-color: #DFE1E6 !important;
    margin-right:20px;
}
.filter-button:hover{
    background-color: #DFE1E6 !important;
    border:2px solid #AED2FB !important;
}
  
.add-customer{
    margin-left: 55%;
}
/* Table Head */

thead th {
    background-color: #F7F9FD !important;
}
tr{
    background-color: #FFFFFF !important;
}

table .table-light tr th{
    color:#6A7180 !important;
    font-size: small !important;
}


/* Table Details */

.description {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#6A7180 !important;
    font-size: medium;
}
/* Status */

tr .status-open {
    border-radius: 20px !important;
    text-align: center;
    background-color: #EDEFF9;
    color: #515AE4;
    align-items: center !important;
    width: 60px;
    font-size: small !important;
}

tr .status-paid {
    border-radius: 20px !important;
    align-items: center !important;
    text-align: center;
    width: 60px;
    background-color: #E6FBF0;
    color: #3B7E4F;
    font-size: small !important;
}
tr .status-inactive {
    border-radius: 20px !important;
    text-align: center;
    background-color: #EAEDF4;
    color: #5C6374;
    align-items: center !important;
    width: 80px;
    font-size: small !important;
}
tr .status-due {
    flex-wrap:nowrap !important;
    margin :10px;
    border-radius: 20px !important;
    text-align: center;
    background-color: #F8F0F3;
    color: #C23F5A;
    align-items: center !important;
    width: 50px;
    font-size: small !important;
}

.light-text{
    color:#6A7180;
    font-size: small;
    align-content: end !important;
}

.balance-negative{
    color: #CA5B73 !important;
}
.balance-positive{
    color: #3C7F51 !important;
}




/* Pagenation */
.page-control{
    background-color: #FFFFFF !important;
    border-color: #DFE1E6 !important;
    margin-right:20px;
    margin-bottom: 10px;
    height: 35px;
    width: 5px;
}
.page-info{
    text-align: center;
}